body {
  margin: 0;
  padding: 0;
  background-color: #c1b7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add your custom styles here */

  /* Style for the central square */
  .center-square {
    background-color: white;
    width: 75%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    display: flex;
    justify-content: space-between; /* Distribute space between columns */
    align-items: flex-start; /* Align columns to the top */
  }

.center-header {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column; /* Stack the child elements vertically */
  justify-content: flex-start; /* Align child elements to the top within the container */
  align-items: flex-start; /* Align child elements to the left within the container */
  padding: 20px; /* Add padding as needed */
  border: 1px solid #ccc; /* Add a border for visual separation (optional) */
  background-color: #f0f0f0; /* Background color (optional) */
}


  /* Style for the right column */
  .right-column {
      flex: 2; /* Take up 50% of the container's width */
      padding: 20px;
  }

  .left-column {
    flex: 1; /* Take up 50% of the container's width */
    padding-top: 60px;
    padding-left: 100px;
}

.text-box {
  width: 100%; /* Take up full available width */
  max-width:800px;
  height:100px;
  text-align: center; /* Center text inside the box */
  font-size: 20px; 
  font-family: Arial, Helvetica, sans-serif;
  flex-shrink:0;
}

.text-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Helvetica;
}

#large-textbox {
  width: 75%;
  height: 75px;
  font-size: 14px;
}

.submit-button {
  background-color: #afafe2;
  color: rgb(1, 1, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left:5px; 
  margin-right:5px;
  cursor: pointer;
  font-size: 12px;
}

.symptoms-button {
  background-color: #f4f4f4;  /* A light gray */
  color: #333;  /* Dark gray for text */
  padding: 6px 12px;  /* A bit smaller than before */
  border: 1px solid #ccc;  /* A subtle border */
  border-radius: 3px;  /* Less rounded corners */
  margin-top: 10px;
  margin-left: 5px; 
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;  /* Smaller font size */
}

.button-container {
  display: flex;
  justify-content: flex-start; /* or "space-around" or "space-evenly" based on your preference */
}

.button-disabled {
  background-color: #25252c1f;
  color: rgb(1, 1, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #cfd8e2;
}