en-biobert-ner-symptom @ https://huggingface.co/pmaitra/en_biobert_ner_symptom/resolve/main/en_biobert_ner_symptom-any-py3-none-any.whl#sha256=287fec482a5e66d3e59213cf57b984720a9445294a21b72933971b0302acf510
gensim==4.3.2
html2text==2020.1.16
huggingface-hub==0.16.4
nltk==3.8.1
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
regex==2023.8.8
requests==2.31.0
scikit-learn==1.3.0
scipy==1.11.2